---
import { cn } from "@/lib/utils";
import type { SidebarNavItem } from "@core/shared/domain/navBar";
type Props  = {
  navItem?: SidebarNavItem
} & astroHTML.JSX.HTMLAttributes
const { class: className, navItem, ...props } = Astro.props;
---

<section
  id={navItem?.id}
  aria-label={navItem?.title}
  class={cn(
    'mx-auto flex h-full min-h-screen w-full max-w-screen-2xl snap-start flex-col items-center gap-16 p-8 lg:px-12',
    className
  )}
  {...props}
>
  <slot />
</section>