@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 190 56% 95%;
    --foreground: 209 27% 24%;

    --primary: 33 70% 60%;
    --primary-foreground: 33 70% 98%;

    --secondary: 175 27% 65%;
    --secondary-foreground: 175 27% 98%;

    --accent: 177 72% 50%;
    --accent-foreground: 178 80% 18%;

    --muted: 177 43% 91%;
    --muted-foreground: 177 43% 40%;

    --light: 190 56% 95%;
    --dark: 209 27% 24%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 209 27% 24%;
    --foreground: 190 56% 95%;

    --muted: 209 27% 19%;
    --muted-foreground: 209 27% 81%;

  }
}

@layer base {
  * {
    @apply box-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}

@layer components {
  ::-webkit-scrollbar {
    display: none;
  }
}