---
import SidebarNav from '@/components/SidebarNav.astro';
import { TailwindIndicator } from '@/components/react/TailwindIndicator';
import { cn } from '@/lib/utils';
import '@/styles/fonts.css';
import '@/styles/global.css';
import { siteConfig } from '@core/shared/const/siteConfig';
const { currentLocale, cookies } = Astro
const theme = cookies.get('theme')?.value;
interface Props {
  title?: string
  description?: string
}
const { title = siteConfig.name, description = siteConfig.description } = Astro.props

const themeClass: Record<string, string> = {
	light: 'light',
	dark: 'dark',
}
---

<!doctype html>
<html lang={currentLocale} class={theme && themeClass[theme]}>
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content={description} />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/x-icon" href="/favicon.ico" />
		<link 
			rel="preload" 
			href="/fonts/fira-mono-latin-400-normal.woff2" 
			as="font" 
			type="font/woff2" 
			crossorigin
		/>
		<link 
			rel="preload" 
			href="/fonts/fira-mono-latin-700-normal.woff2" 
			as="font" 
			type="font/woff2" 
			crossorigin
		/>
		<link 
			rel="preload" 
			href="/fonts/karla-latin-400-normal.woff2" 
			as="font" 
			type="font/woff2" 
			crossorigin
		/>
		<link 
			rel="preload" 
			href="/fonts/karla-latin-600-normal.woff2" 
			as="font" 
			type="font/woff2" 
			crossorigin
		/>
		<link 
			rel="preload" 
			href="/fonts/karla-latin-800-normal.woff2" 
			as="font" 
			type="font/woff2" 
			crossorigin
		/>
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
		{theme === undefined && <link rel="stylesheet" href="/styles/prefers-theme.css" />}
	</head>
	<body class={cn('scroll-smooth font-sans antialiased')}>
		<main class='flex snap-y flex-col gap-20 ml-auto lg:w-[calc(100%-16rem)]'>
			<slot />
			<SidebarNav />
			<TailwindIndicator />
		</main>
	</body>
</html>

<script>
	const prefersDarkScheme = window.matchMedia("(prefers-color-scheme: dark)").matches;

	if (!document.cookie.includes("theme")) {
		if (prefersDarkScheme) {
			document.documentElement.classList.add('dark');
		} else {
			document.documentElement.classList.add('light');
		}
	}
</script>